<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>HOME</title>
</head>

<body>
    <header>
        <nav>
            <div>Seojin</div>
            <ul>
                <li>POSTS</li>
                <li>LOG IN</li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="banner">
            <div>
                Blog Home
            </div>
        </div>
        <div class="contents">
            <div>
                <p>내 블로그에 온 걸 환영한다. </p>
                <p>로그인 기능 열심히 만들었으니까 로그인 많이 해주고</p>
                <p>글쓰기 기능도 열심히 만들었으니까 글도 많이 써주렴</p>
            </div>
        </div>
    </main>
</body>

</html>