<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <title>LOGIN</title>
</head>

<body>
    <header>
        <nav>
            <div>Seojin</div>
            <ul>
                <li>POSTS</li>
                <li>LOG IN</li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="banner" style="height: 92.5vh; flex-direction:column">
            <div>Log In</div>
            <form action="" class="login-form">
                <input type="email" name="email" id="" placeholder="email">
                <input type="password" id="" name="password" placeholder="password">
                <input type="submit" value="Log In">
            </form>
            <a href="#" style="cursor:pointer; text-decoration: none; color:rgb(207, 241, 240); font-size:1rem">Sign in to create account</a>
        </div>
    </main>
</body>

</html>