<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <title>POSTS</title>
</head>

<body>
    <header>
        <nav>
            <div>Seojin</div>
            <ul>
                <li>POSTS</li>
                <li>LOG IN</li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="banner">
            <div>Posts</div>
        </div>
        <div class="contents">
            <div class="posts">
                <div class="posts-card">
                    <div class="posts-title">맛있는 참깨스틱</div>
                    <div class="posts-author">Stick Chamggae</div>
                    <div class="posts-time">2020년 12월 26일</div>
                    <div class="posts-content">참깨스틱 맛있다</div>
                </div>
                <div class="posts-card">
                    <div class="posts-title">맛있는 참깨스틱</div>
                    <div class="posts-author">김참깨스틱</div>
                    <div class="posts-time">2020년 12월 26일</div>
                    <div class="posts-content">참깨스틱 맛있다</div>
                </div>
                <div class="posts-card">
                    <div class="posts-title">맛있는 참깨스틱</div>
                    <div class="posts-author">참깨스틱 킴</div>
                    <div class="posts-time">2020년 12월 26일</div>
                    <div class="posts-content">참깨스틱 맛있다</div>
                </div>
                <div class="posts-card">
                    <div class="posts-title">맛있는 참깨스틱</div>
                    <div class="posts-author">김참깨스틱</div>
                    <div class="posts-time">2020년 12월 26일</div>
                    <div class="posts-content">참깨스틱 맛있다</div>
                </div>
                <div class="posts-card">
                    <div class="posts-title">맛있는 참깨스틱</div>
                    <div class="posts-author">김참깨스틱</div>
                    <div class="posts-time">2020년 12월 26일</div>
                    <div class="posts-content">참깨스틱 맛있다</div>
                </div>
                <div class="posts-card">
                    <div class="posts-title">맛있는 참깨스틱</div>
                    <div class="posts-author">김참깨스틱</div>
                    <div class="posts-time">2020년 12월 26일</div>
                    <div class="posts-content">참깨스틱 맛있다</div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>