<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <title>SIGNIN</title>
</head>

<body>
    <header>
        <nav>
            <div>Seojin</div>
            <ul>
                <li>POSTS</li>
                <li>LOG IN</li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="banner">
            <div>Sign In</div>
        </div>
        <div class="contents">
            <form action="" class="signin-form">
                <div id="email-form">
                    <input type="email" name="email" id="" placeholder="email">
                    <button id="verify-email">verify</button>
                </div>
                <input type="text" name="username" id="" placeholder="username">
                <input type="date" name="birthday" id="" value="2000-01-01">
                <input type="password" name="pw1" id="" placeholder="password 1">
                <input type="password" name="pw2" id="" placeholder="password 2">
                <input type="submit" value="Sign In">
            </form>
        </div>
    </main>
</body>

</html>