<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <title>WRITE</title>
</head>

<body>
    <header>
        <nav>
            <div>Seojin</div>
            <ul>
                <li>POSTS</li>
                <li>LOG IN</li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="banner">
            <div>Write Posts</div>
        </div>
        <div class="contents">
            <form action="">
                <input type="text" name="title" placeholder="title">
                <textarea name="contents" id="contents" placeholder="contents"></textarea>
                <input type="submit" value="Upload">
            </form>
        </div>
    </main>
</body>

</html>