* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    min-height: 100vh;
    background-color: black;
    background: linear-gradient(217deg, rgb(3, 41, 35), rgba(0, 0, 0, 0.4) 90%), linear-gradient(127deg, rgb(3, 17, 43), rgba(0, 0, 0, 0.4) 90%), linear-gradient(336deg, rgb(23, 6, 54), rgba(0, 0, 0, 0.4) 90%);
}

.timeline {
    margin-top: 2.5rem;
    width: 100%;
    max-width: 900px;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.timebox:nth-child(2n-1) {
    align-self: flex-start;
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: 3px 4px 0px 2px rgb(171, 177, 204);
}

.timebox:nth-child(2n-1):hover {
    margin-left: 3.5rem;
}

.timebox:nth-child(2n) {
    align-self: flex-end;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    box-shadow: -3px 4px 0px 2px rgb(171, 177, 204);
}

.timebox:nth-child(2n):hover {
    margin-right: 3.5rem;
}

.timebox {
    width: 300px;
    height: 8.5rem;
    background: linear-gradient(20deg, rgb(13, 21, 49), rgb(17, 33, 85) 80%, rgb(13, 21, 49));
    color: white;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;
    padding: 5px;
    transition: 0.4s;
}

.timeimg {
    position: absolute;
    margin-top: -20px;
    margin-left: -25px;
}

.timeimg img {
    border-radius: 50%;
    height: 50px;
    width: auto;
    background-color: white;
    border: 4px solid rgb(17, 33, 85);
}

.timetitle {
    width: 5rem;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 35px;
    padding-bottom: 0.3rem;
    border-bottom: 3px dotted rgb(123, 138, 221);
}

.timecontent {
    margin-top: 0.5rem;
}

.timecontent ul li {
    list-style: none;
    margin-top: .5rem;
    color: rgb(221, 221, 248);
}

#line {
    height: 100vh;
    border-right: 2px dashed rgb(123, 138, 221);
    position: fixed;
    z-index: -1;
}

#title {
    margin: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom: 5px solid rgb(171, 177, 204);
    background-color: rgb(13, 21, 49);
    color: white;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
    padding: 1.2rem;
    font-size: 1.3rem;
    font-weight: bold;
}